@font-face {
  font-family: "Quicksand";
  src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
  font-display: swap;
}

.parcours-container {
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ajustez selon vos besoins */
  overflow: hidden; /* Empêche le défilement à l'intérieur de ce conteneur */
}

@media screen and (max-width: 768px) {
  .parcours-container {
    height: 75vh;
    margin-top: -30px;
  }
}

.background-vid {
  width: 100%; /* La vidéo occupe toute la largeur */
  height: 100vh; /* Limite la hauteur à 60% de la hauteur de la fenêtre */
  object-fit: cover; /* Adapte la vidéo pour remplir le conteneur sans déformation */
  position: fixed; /* Position absolue pour qu'elle reste en arrière-plan */
  top: 0;
  left: 0;
  z-index: -1; /* Derrière le texte ou autres contenus */
  animation: fadeIn 4s ease-out infinite alternate; /* Animation en boucle */
}

@media screen and (max-width: 768px) {
  .background-vid {
    height: 140vh;
    top: -10%;
  }
}

/* Dégradé pour l'effet de décalage */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background: transparent;
  animation: overlayShift 5s ease-out infinite alternate; /* Décalage fluide */
}

@keyframes fadeIn {
  0% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes overlayShift {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Lorsque la classe 'fade-in' est ajoutée, on rend le conteneur visible et on fait le mouvement */
.parcours-container.fade-in {
  opacity: 0; /* Rendre le conteneur visible */
  transform: translateY(0); /* Ramener à la position originale */
  animation: fadeIn 1s ease-out forwards; /* Animation */
}

.parcours-title {
  position: sticky; /* Permet de positionner le titre sur l'image */
  margin-bottom: 400px;
  margin-top: -400px;
  color: white; /* Couleur du texte */
  font-size: 3.5rem; /* Taille du texte */
  font-weight: bold; /* Gras */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Ombre portée pour améliorer la lisibilité */
  text-align: center; /* Centre le texte */
  z-index: -1; /* Assure que le titre est au-dessus de l'image */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Transition pour l'animation */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.p-title {
  position: absolute; /* Permet de positionner le titre sur l'image */
  top: 45%; /* Positionne le titre au centre de l'image en vertical */
  left: 50%; /* Positionne le titre au centre de l'image en horizontal */
  transform: translate(-50%, -50%); /* Ajuste le titre exactement au centre */
  white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
  color: white; /* Couleur du texte */
  font-size: 2rem; /* Taille du texte */
  font-weight: bold; /* Gras */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Ombre portée pour améliorer la lisibilité */
  text-align: center; /* Centre le texte */
  z-index: -1; /* Assure que le titre est au-dessus de l'image */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Transition pour l'animation */
  animation: fadeInFloat 7s infinite ease-in-out; /* Animation combinée */
  opacity: 0; /* Le texte est invisible au départ */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@keyframes fadeInFloat {
  0% {
    opacity: 0.9;
    transform: translate(-50%, -50%) translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(10px);
  }
}

/* Lorsque la classe 'fade-in' est ajoutée au titre, il devient visible et monte */
.parcours-title.fade-in {
  opacity: 1; /* Rendre le titre visible */
  transform: translate(-50%, -50%) translateY(0); /* Faire remonter le titre à sa position d'origine */
}

.bubbles span {
  position: absolute;
  bottom: -20px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.281);
  border-radius: 50%;
  animation: floatUp 4s infinite ease-in-out;
}

.bubbles span:nth-child(1) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-duration: 3.5s;
}

.bubbles span:nth-child(2) {
  left: 50%;
  animation-duration: 4s;
}

.bubbles span:nth-child(3) {
  left: 80%;
  width: 25px;
  height: 25px;
  animation-duration: 5s;
}

.bubbles span:nth-child(4) {
  left: 55%;
  width: 40px;
  height: 40px;
  animation-duration: 5.2s;
  animation-delay: 1.5s;
}

.bubbles span:nth-child(5) {
  left: 70%;
  width: 25px;
  height: 25px;
  animation-duration: 3.8s;
  animation-delay: 0.8s;
}

.bubbles span:nth-child(6) {
  left: 15%;
  width: 50px;
  height: 50px;
  animation-duration: 6s;
  animation-delay: 2s;
}

.bubbles span:nth-child(7) {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-duration: 3s;
  animation-delay: 0.4s;
}

.bubbles span:nth-child(8) {
  left: 65%;
  width: 35px;
  height: 35px;
  animation-duration: 5.5s;
  animation-delay: 1.3s;
}

.bubbles span:nth-child(9) {
  left: 85%;
  width: 45px;
  height: 45px;
  animation-duration: 4.7s;
  animation-delay: 1.8s;
}

.bubbles span:nth-child(10) {
  left: 5%;
  width: 30px;
  height: 30px;
  animation-duration: 3.5s;
  animation-delay: 0.6s;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/* Section principale : La Naissance d'un Explorateur */
.naissance-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px); /* Effet de flou derrière */
  opacity: 0; /* Apparition progressive */
  transform: translateY(50px);
  animation: fadeInUp 2s ease-out forwards;
}

@media screen and (max-width: 768px) {
  .naissance-section {
    margin-top: -30px;
  }
}

/* Image ronde */
.image-container {
  margin: -20px 0 30px;
}

.round-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: -70px;
}

.round-image2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: -110px;
}

.round-image3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: -110px;
}

/* Animation de dézoom */
.zoom-effect {
  position: relative;
  border-radius: 50%;
  width: 200px; /* Ajustez la taille */
  height: 200px;
  transform: scale(1.5); /* Image zoomée au départ */
  transition: transform 2s ease, opacity 0.8s ease;
  opacity: 0; /* Invisible au départ */
}

.zoom-effect.dezoom {
  transform: scale(1.1); /* Dézoom progressif */
  opacity: 1; /* Visible */
}

/* Classe de base pour l'image */
.round-image2 {
  transition: transform 1s ease; /* Ajoute une transition pour la rotation */
}

/* Classe activée lorsque l'image doit tourner */
.round-image2.visible {
  transform: rotate(360deg);
}

/* Titre de la section */
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
}

/* Description de la section */
.section-description {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 0 15px;
  text-align: justify;
  max-width: 700px;
}

@media screen and (max-width: 768px) {
  .section-description {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
  }
}

/* Animation d'apparition */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.evolution-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px 20px;
  background: rgba(0, 0, 0, 0); /* Fond semi-transparent */
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px); /* Effet de flou derrière */
  opacity: 0; /* Apparition progressive */
  transform: translateY(50px);
  animation: fadeInUp 10s ease-out forwards;
  margin-top: 100px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .evolution-section {
    margin-top: 50px;
  }
}

.section-title2 {
  margin-top: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 35px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .section-title2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px auto;
  width: 80%;
  max-width: 900px;
}

@media screen and (max-width: 768px) {
  .timeline {
    width: 100%;
    margin-bottom: -20px;
  }
}

.timeline-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajoute un espace uniforme entre les éléments*/
  margin-bottom: 40px;
  margin-right: 30px;
  opacity: 0; /* Caché au début */
  transform: translateX(-100px); /* Position initiale */
  transition: opacity 1.5s ease, transform 1.5s ease;
}

@media screen and (max-width: 768px) {
  .timeline-item {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
}

.timeline-item.visible {
  opacity: 1; /* Visible après ajout de la classe */
  transform: translateX(0); /* Position finale */
}

.timeline-date p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.timeline-icon {
  font-size: 2.5rem;
  color: #0f8373;
  margin-right: -20px;
  width: 50px; /* Définit une largeur fixe */
  height: 50px; /* Définit une hauteur fixe */
  display: flex;
  align-items: center; /* Centre verticalement l'icône dans son conteneur */
  justify-content: center; /* Centre horizontalement l'icône dans son conteneur */
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .timeline-icon {
    margin-bottom: 10px;
    margin-right: 0;
    margin-top: 10px;
  }
}

.icon-green {
  color: rgba(46, 215, 184, 0.6); /* green  */
}

.icon-yellow {
  color: rgba(193, 149, 3, 0.6); /* yellow */
}

.icon-blue {
  color: rgba(0, 123, 255, 0.6); /* bleu  */
}

.icon-pink {
  color: rgba(226, 7, 255, 0.6); /* Pink */
}

.timeline-content {
  background: rgba(46, 215, 184, 0.1);
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  z-index: 1; /* Pour que le contenu soit au-dessus de la ligne */
  transition: all 0.9s ease-in-out;
}

@media screen and (max-width: 768px) {
  .timeline-content {
    padding: 15px 20px;
  }
}

/* Hover sur les timeline-content */
.timeline-content:hover {
  background: rgba(
    46,
    215,
    184,
    0.3
  ); /* Couleur plus sombre pour l'élément 1 */
  transition: background-color 0.6s ease-in-out;
}

.timeline-item:first-child .timeline-content:hover {
  background: rgba(
    46,
    215,
    184,
    0.4
  ); /* Couleur plus sombre pour l'élément 2 */
}

.timeline-item:nth-child(3) .timeline-content:hover {
  background: rgba(193, 149, 3, 0.4); /* Couleur plus sombre pour l'élément 2 */
}

.timeline-item:nth-child(2) .timeline-content:hover {
  background: rgba(0, 123, 255, 0.4); /* Couleur plus sombre pour l'élément 2 */
}

.timeline-item:nth-child(4) .timeline-content:hover {
  background: rgba(226, 7, 255, 0.4); /* Couleur plus sombre pour l'élément 3 */
}

/* Effet de hover sur la timeline-item */
.timeline-item:hover .timeline-icon {
  animation: vibrate 3s infinite ease-in-out;
}

/* Définition de l'animation de vibration */
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.timeline-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .timeline-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 26px;
  }
}

.timeline-item:nth-child(1) .timeline-content {
  background: rgba(46, 215, 184, 0.3); /* Couleur 1 */
}

.timeline-item:nth-child(3) .timeline-content {
  background: rgba(193, 149, 3, 0.3); /* Couleur 2 */
}

.timeline-item:nth-child(2) .timeline-content {
  background: rgba(0, 123, 255, 0.3); /* Couleur 2 */
}

.timeline-item:nth-child(4) .timeline-content {
  background: rgba(226, 7, 255, 0.3); /* Couleur 3 */
}

.timeline-content p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: rgba(255, 255, 255);
  line-height: 24px;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  .timeline-content p {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
  }
}

.mission-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px 20px;
  color: white;
  border-radius: 5px;
  opacity: 0; /* Apparition progressive */
  transform: translateY(50px);
  animation: fadeInUp 5s ease-out forwards;
  margin: 100px;
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  .mission-section {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}

.section-title3 {
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .section-title3 {
    font-size: 2rem;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .section-description {
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 80px;
    margin-top: 50px;
  }
}

.interactive-section {
  display: flex;
  justify-content: space-evenly; /* Répartit uniformément les éléments */
  margin: 20px auto;
  padding: 20px 30px 30px;
  gap: 80px; /* Ajoute de l'espace entre les icônes */
  background: rgba(58, 58, 58, 0.1); /* Fond semi-transparent */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px); /* Effet de flou derrière */
  animation: fadeInUp 5s ease-out forwards;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .interactive-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.interactive-item {
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 100px; /* Taille accrue au survol */
  height: 80px; /* Taille accrue au survol */
  transition: transform 1s ease, box-shadow 1s ease, width 1s ease,
    height 0.5s ease;
}

@media screen and (max-width: 768px) {
  .interactive-item {
    width: 250px;
  }
}

.interactive-item:hover {
  transform: scale(1.03);
  width: 130px; /* Taille accrue au survol */
  height: 100px; /* Taille accrue au survol */
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(255, 131, 7, 0.8), 0 0 30px rgba(151, 52, 10, 0.6);
}

.interactive-item i {
  font-size: 2.5rem;
  color: rgb(255, 131, 7);
  transition: color 0.5s ease;
  padding-top: 10px;
}

.interactive-item:hover i {
  color: rgb(255, 131, 7);
}

.interactive-item p {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  transition: color 0.5s ease;
}

.interactive-item:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 131, 7, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgb(255, 131, 7, 0.2);
}

.interactive-item:hover::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: rgb(255, 131, 7, 0.8);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@media screen and (max-width: 768px) {
  .interactive-item:hover::after {
    top: -100px; /* Ajuster la position pour plus d'espace en haut */
    left: 50%;
    transform: translateX(-50%); /* Centrer par rapport à l'élément */
    background-color: rgba(255, 131, 7); /* Couleur de fond */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    line-height: 16px;
    white-space: initial;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(255, 131, 7, 0.2);
  }

  .interactive-item:hover::before {
    top: -15px; /* Ajuster pour que la pointe apparaisse correctement */
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: rgba(255, 131, 7, 0.8);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

/* Section "Appel à l'Action" */
.appel-a-action {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
  text-align: center;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .appel-a-action {
    padding-bottom: 60px;
  }
}

.axolotl-container {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  margin: 0 auto; /* Centre le conteneur */
}

.axolotl-image {
  width: 200px; /* Ajustez la taille selon vos besoins */
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -100px;
  animation: spin 20s linear infinite; /* Ajout de l'animation de rotation */
}

@media screen and (max-width: 1090px) {
  .axolotl-image {
    width: 150px; /* Ajustez la taille selon vos besoins */
    height: 150px;
    margin-top: -80px;
  }
}

/* Définition de l'animation de rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bubble-parcours {
  text-align: center;
  transform: translateX(-50%);
  background-color: rgba(255, 131, 7);
  color: white;
  padding: 20px 20px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(255, 131, 7, 0.4);
  animation: floatAnimationOrange 5s infinite ease-in-out; /* Ajout de l'animation */
  transition: all 0.3s ease-in-out;
}

/* CSS pour les animations */
@keyframes floatAnimationOrange {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bubble-parcours:hover {
  background-color: rgb(164, 16, 90);
}

.text-parcours {
  max-width: 700px; /* Largeur maximale pour limiter le texte */
  margin: 20px auto; /* Espacement avec l'image et centrage */
  padding: 20px;
  border: 2px solid white; /* Bordure blanche */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
  color: white;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 60px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1090px) {
  .text-parcours {
    max-width: 320px;
    font-size: 1rem;
    text-align: left;
  }
}

@media screen and (max-width: 1090px) {
  .p-title {
    white-space: initial;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .parcours-title {
    font-size: 2.5rem; /* Réduit la taille du texte sur les petits écrans */
  }

  .p-title {
    line-height: 30px;
    text-align: left;
    margin-left: 20px;
    margin-top: -20px;
  }
}
