.fade-in-politic {
  opacity: 0;
  animation: fadeInPolitique 1s ease-in-out forwards;
}

@keyframes fadeInPolitique {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.politic {
  position: relative;
  background: #b2aeae;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 40px;
  padding-top: 160px;
}

.container-politic {
  max-width: 1000px;
  padding: 40px 40px 40px;
  padding-top: 180px;
  border-radius: 8px;
  background: #2c3e50;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.first-lcp {
  text-shadow: none; /* accélère le rendu du texte */
}

.container-politic h1 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: -20px;
}

.container-politic h2 {
  font-size: 1.8rem;
  color: wheat;
  margin: 25px 0;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container-politic p,
li {
  font-size: 1.2rem;
  color: white;
  line-height: 26px;
  padding-bottom: 20px;
}

ul {
  padding-left: 20px;
  list-style: disc;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  cursor: auto;
}

strong {
  font-weight: bold;
}

.round-image-politic {
  top: 70px; /* place-la précisément */
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 200px; /* Augmente la taille par défaut */
  height: 200px;
  border-radius: 50%; /* Rend l'image ronde */
  object-fit: cover; /* Adapte l'image au cadre rond */
  z-index: 10; /* Assure que l'image est au-dessus des autres éléments */
  border: 3px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.container-politic section p {
  color: white;
  font-size: 1.1rem;
  line-height: 1.6;
}

.container-politic section a {
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.container-politic section a:hover {
  color: wheat; /* ou une autre couleur de hover */
}

@media screen and (max-width: 500px) {
  .round-image-politic {
    width: 150px;
    height: 150px;
    top: 20px;
  }

  .container-politic {
    margin-top: -20px;
    padding: 180px 25px 40px 25px;
  }

  .politic {
    padding-top: 120px;
  }

  .container-politic h1 {
    font-size: 2rem;
    margin-top: -70px;
    line-height: 38px;
    margin-bottom: 40px;
  }

  .container-politic h2 {
    font-size: 1.2rem;
    line-height: 26px;
  }

  .container-politic p {
    font-size: 0.9rem;
    padding: 0;
  }

  .container-politic li {
    font-size: 0.9rem;
  }

  .container-politic h1,
  .container-politic h2,
  .container-politic p,
  .container-politic li {
    text-shadow: none;
  }
}
