.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: -170px; /* Position initiale hors de la vue */
  width: 100%;
  min-height: 75px;
  box-shadow: 0 4px 10px transparent;
  backdrop-filter: blur(10px); /* Effet de flou derrière */
  z-index: 1000;
  animation: fadeInNavbar 2s ease-in-out forwards;
  transition: all 0.5s ease-in-out;
}

.navbar.visible-navbar {
  top: 0; /* Affiche la navbar */
}

.navbar.hidden-navbar {
  top: -170px;
}

/* Animation pour l’opacité au chargement */
@keyframes fadeInNavbar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Gestion de la visibilité des liens */
.navbar.show-nav,
.navbar.hide-nav {
  opacity: 1;
}

.navbar-logo img {
  height: 120px;
  width: auto;
  margin-top: 10px;
  cursor: pointer;
}

/* Liens par défaut (desktop) */
.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.8s ease-out;
}

.navbar-links-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
  color: rgb(172, 18, 103);
  transform: scale(1.05);
  border-bottom: 1px solid rgb(172, 18, 103);
  text-decoration: none;
}

.navbar-link.active-link {
  color: rgb(172, 18, 103);
  transform: scale(1.08);
}

.navbar-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
  cursor: pointer;
}

.navbar-item {
  position: relative;
}

/* Animation slideInDown */
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Application progressive de l’animation sur chaque item */
.show-nav .slideInDown-1 {
  animation: slideInDown 0.5s ease forwards;
  animation-delay: 0.1s;
}

.show-nav .slideInDown-2 {
  animation: slideInDown 0.5s ease forwards;
  animation-delay: 0.3s;
}

.show-nav .slideInDown-3 {
  animation: slideInDown 0.5s ease forwards;
  animation-delay: 0.5s;
}

.show-nav .slideInDown-4 {
  animation: slideInDown 0.5s ease forwards;
  animation-delay: 0.7s;
}

/* Lang switcher fixé */
.fixed-language-switcher {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2000;
  display: flex;
  gap: 10px;
}

.fixed-language-switcher img {
  width: 32px;
  height: auto;
  cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 1300px) {
  .navbar-link {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 1042px) {
  .navbar-link:hover {
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    z-index: 100;
    flex-direction: column;
    padding-top: 20px;
  }

  nav {
    padding-bottom: 0;
  }

  .navbar-logo img.burger-logo {
    width: 120px;
    height: 120px;
    transition: all 0.3s ease-in-out;
  }

  .navbar-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 230vw;
    padding: 2rem;
    background: transparent;
    transform: translateX(100%);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.8s ease-out, opacity 0.8s ease;
  }

  .show-nav .navbar-links {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }

  /* .navbar-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .navbar-background-video.slide-out {
    transform: translateX(100vw); 
    opacity: 0;
  } */

  .navbar-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .navbar-links-list {
    position: relative;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-item {
    text-align: center;
    transform: translateX(200vh);
  }

  .show-nav .navbar-item {
    transform: translateX(0);
  }

  .navbar-link {
    display: block;
    padding: 1.5rem;
    font-size: 1.6rem;
    margin: 0;
    color: rgb(35, 201, 121);
  }

  .navbar-link:hover {
    color: rgb(126, 58, 58);
    border-bottom: none;
  }

  .navbar-burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2000;
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    transition: all 0.8s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }

  .show-nav .burger-bar {
    background: transparent;
    width: 0;
  }

  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }

  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 500px) {
  .navbar-links {
    height: 200vw;
  }

  .navbar-link {
    font-size: 30px !important;
    padding: 25px !important;
  }
}
